# Dependencies
node_modules/

# Build outputs
dist/
build/
.parcel-cache/

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Secrets
.env

# Testing
coverage/

# Cache
.npm
