<footer class="footer">
  <div class="wrapper">
    <div class="footer-content">
      <h2 class="display-xxl t-green-light">Let's connect</h2>
      <h3 class="display-xxl">I'm always open for collabs<br />or a coffee chat</h3>
      <nav class="footer-icons">

        <a class="social-item" href="https://medium.com/@renancrociari" target="_blank" aria-label="Medium">
          <i class="social-icon medium-icon" aria-label="Medium"></i>
        </a>

        <a class="social-item" href="https://www.linkedin.com/in/renancrociari/" target="_blank" aria-label="LinkedIn">
          <i class="social-icon linkedin-icon" aria-label="LinkedIn"></i>
        </a>

        <a class="social-item" href="https://dribbble.com/renancrociari" target="_blank" aria-label="Dribbble">
          <i class="social-icon dribbble-icon" aria-label="Dribbble"></i>
        </a>

      </nav>

      <nav class="footer-nav">
        <a class="btn body-medium btn-gray-test" href="index.html" aria-label="Homepage">
          Home
        </a>
        <a class="btn body-medium btn-gray-test" href="about" aria-label="About">
          About
        </a>
        <a class="btn body-medium btn-gray-test" href="/public/downloads/renancrociari-cv.pdf" aria-label="Resumé">
          Resumé
        </a>
        <button class="btn body-medium btn-gray-test btn-show-email" aria-haspopup="dialog">Email</button>
      </nav>

    </div>
  </div>
</footer>