<nav class="navbar closed">
    <div class="navbar-wrapper">
        <div class="general-logo-container">
            <a class="nav-logo-link body-small" href="/" aria-label="Renan Crociari logo">
                renancrociari
            </a>
        </div>

        <button class="mobile-nav-toggle" aria-controls="main-nav-list" aria-expanded="false">
            <span class="visually-hidden">Menu</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="hamburger-menu-svg" viewBox="0 0 24 16">
                <rect class="top" width="20" height="2" x="4" y="0" rx="1" ry="1"></rect>
                <rect class="middle" width="24" height="2" x="0" y="7" rx="1" ry="1"></rect>
                <rect class="bottom" width="20" height="2" x="4" y="14" rx="1" ry="1"></rect>
            </svg>
        </button>

        <div id="main-nav-list" data-visible="false" class="main-nav-list">
            <ul class="main-nav-list-items">
                <li>
                    <a class="main-nav-a body-small" href="/">
                        Home
                    </a>
                </li>
                <li>
                    <a class="main-nav-a body-small" href="about">
                        About
                    </a>
                </li>
                <li>
                    <a class="main-nav-a body-small" href="/public/downloads/renancrociari-cv.pdf" target="_blank">
                        Resumé
                    </a>
                </li>
                <li class="linkedin">
                    <a class="main-nav-a body-small" href="https://www.linkedin.com/in/renancrociari/" target="_blank">
                        LinkedIn
                    </a>
                </li>
                <li>
                    <button class="main-nav-a body-small btn-show-email" aria-haspopup="dialog">Email</button>
                </li>
            </ul>
        </div>
    </div>
</nav>